body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
/* diseñoFondo */
.fondo {
    position: absolute;
    width: 100%;
    height: 400%; 
    background: linear-gradient(140.19deg, #E8E3DD 8.43%, rgba(205, 201, 198, 0.98) 22.09%, rgba(216, 214, 215, 0.99) 28.81%, #CFCFD7 43.74%, #C4C8D3 53.99%, #A1A3B0 67.08%, #9493A6 73.81%);
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* diseñoFigurasFlotantes */
.figure {
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    animation: float 3s ease-in-out infinite;
    transform: scale(1);
}

#figure1 {
    top: -20%;
    left: 75%;
    background-image: url('recursosImagenes/vector1.png');
}
#figure2 {
    top: 48%;
    left: -20%;
    background-image: url('recursosImagenes/vector2.png');
}
#figure3 {
    top: 60%;
    left: 80%;
    background-image: url('recursosImagenes/vector3.png');
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}





