body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    transition: background-color 2s ease;
}

/* diseñoFondo */
.fondo {
    position: absolute;
    width: 100%;
    height: 10rem; 
    background: linear-gradient(140.19deg, #E8E3DD 8.43%, rgba(205, 201, 198, 0.98) 22.09%, rgba(216, 214, 215, 0.99) 28.81%, #CFCFD7 43.74%, #C4C8D3 53.99%, #A1A3B0 67.08%, #9493A6 73.81%);
}

.image {
    position: absolute;
    width: 100%;
    height: 120%;
}
/* diseñoFigurasFlotantes */
.figure {
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    animation: float 3s ease-in-out infinite;
    transform: translate(0, 0);
}

#figure1 {
    top: -20%;
    left: 75%;
    background-image: url('recursosImagenes/vector1.png');
} #figure2 {
    top: 48%;
    left: -20%;
    background-image: url('recursosImagenes/vector2.png');
} #figure3 {
    top: 60%;
    left: 80%;
    background-image: url('recursosImagenes/vector3.png');
}

/* figurasFlotantes */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* diseñoTitulo */
.recText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 3;
}

.texto {
    font-family: "Sigmar", serif;
    font-size: 4.5em;
    font-weight: 750;
    color: transparent; 
    -webkit-text-stroke: 1px #000; 
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 4;
    letter-spacing: 0.1em;
}

/* animacionesDesAp */
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9) rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: scale(0.9) rotate(5deg);
    }
}

.desvanecido {
    opacity: 0;
    transition: opacity 3s ease, transform 3s ease; 
}

.desvanecido.texto {
    transform: translateY(50px -50px);
    transform: scale(0.9) rotate(-5deg);
    animation: fadeOut 2s ease forwards;
}

.desvanecido.figure {
    transform: scale(0.9) rotate(5deg);
    animation: fadeOut 0.1s ease forwards;
    animation: girar 2s ease-in-out infinite;
}

.reaparecido {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease; 
}

.reaparecido.figure {
    animation: girar 2s ease-in-out infinite;
}

.apFondo {
    background: linear-gradient(140.19deg, #E8E3DD 8.43%, rgba(205, 201, 198, 0.98) 22.09%, rgba(216, 214, 215, 0.99) 28.81%, #CFCFD7 43.74%, #C4C8D3 53.99%, #A1A3B0 67.08%, #9493A6 73.81%);
    transition: background-color 5s ease;
    background-attachment: fixed;
    background-size: cover;
}

.desFondo {
    background-color: transparent;
    transition: background-color 2s ease;
}