body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    transition: background-color 2s ease;
}

/* diseñoFondo */
.fondo {
    position: absolute;
    width: 100%;
    height: 300%; 
    background: linear-gradient(140.19deg, #E8E3DD 8.43%, rgba(205, 201, 198, 0.98) 22.09%, rgba(216, 214, 215, 0.99) 28.81%, #CFCFD7 43.74%, #C4C8D3 53.99%, #A1A3B0 67.08%, #9493A6 73.81%);
}

.image {
    position: absolute;
    width: 100%;
    height: 120%;
}
/* diseñoFigurasFlotantes */
.figure {
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    animation: float 3s ease-in-out infinite;
    transform: translate(0, 0); /* Inicialmente en la posición 0,0 */
}

#figure1 {
    top: -20%;
    left: 75%;
    background-image: url('recursosImagenes/vector1.png');
}
#figure2 {
    top: 48%;
    left: -20%;
    background-image: url('recursosImagenes/vector2.png');
}
#figure3 {
    top: 60%;
    left: 80%;
    background-image: url('recursosImagenes/vector3.png');
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.recText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 3;
}

.texto {
    font-family: "Sigmar", serif;
    font-size: 4.5em;
    font-weight: 750;
    color: transparent; 
    -webkit-text-stroke: 1px #000; 
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 4;
    letter-spacing: 0.1em;
}


/* desvanecimiento */
@keyframes cambiarFondo {
    0% {
        background-color: transparent;
        /* background: linear-gradient(140.19deg, #E8E3DD 8.43%, rgba(205, 201, 198, 0.98) 22.09%, rgba(216, 214, 215, 0.99) 28.81%, #CFCFD7 43.74%, #C4C8D3 53.99%, #A1A3B0 67.08%, #9493A6 73.81%); */
    }
    100% {
        /* background-color: #000; */
        position: relative;
        background: linear-gradient(140.19deg, #E8E3DD 8.43%, rgba(205, 201, 198, 0.98) 22.09%, rgba(216, 214, 215, 0.99) 28.81%, #CFCFD7 43.74%, #C4C8D3 53.99%, #A1A3B0 67.08%, #9493A6 73.81%);
    }
}

.fondo, .image, .figure, .recText {
    transition: opacity 2s ease, transform 1s ease;
}
body.cambiar-fondo {
    transition: background-color 2s ease forwards;
    animation: cambiarFondo 0.3s ease 2.5s forwards;
}

.desvanecido {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}